@import "normalize.css";
@import "bootstrap.css";
$main_font: 'Roboto', sans-serif;
.container{
  max-width: 1440px;
  margin: auto;
}
.first_page{
background-color: #E7F066;
  .logo{
    position: absolute;
    top: 26px;
    left: 40px;
    @media only screen and (max-width: 429px){
      top: 12px;
      left: 40px;
    }
  }
  a{
    img{
      margin-left: -63px;
      @media only screen and (max-width: 429px){
       margin: auto;
      }
    }
  }
  .mainbanner_item{
    @media only screen and (max-width: 429px){
      margin: auto;
    }
    p{
      margin-top: 26px;
      margin-left: 133px;
    }
    a{
      margin-top: 20px;
      margin-right: 25px;
      margin-left: 55px;
      @media only screen and (max-width: 429px){
      margin-right: 200px;
        margin-left: 0;
        margin-top: 15px;
      }
    }
  }
  h4{
    font-family:$main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.5px;
    color: #262626;
    margin-top: 80px;
    @media only screen and (max-width: 429px){
      margin-top: 0;
    }
  }
  .mt-3{
    font-family:$main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #262626;
    border-bottom: 1px solid #262626;
    width: 138px;
  }
  .item_text{
    position: relative;
    left: -140px;
    top: 200px;
    z-index: 3;
    background-color: #1B1B1B;
    padding: 47px 53px 48px 48px;
    @media only screen and (max-width: 429px){
     left: 0;
      top: 20px;
    }
    p{
      font-family:$main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.5px;
      color: #F1F1EE;
    }
    h5{
      font-family:$main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 19px;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      color: #F1F1EE;
      width: 87px;
      border-bottom: 1px solid #F1F1EE;;
    }
  }
  h2{
    font-family:$main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: #262626;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
.second_page{
  background-color: #9C8554;
  h3{
    font-family:$main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.5px;
    color: #B2B2B2;
    margin-top: 39px;
    margin-left: 40px;
    @media only screen and (max-width: 429px){
      margin-left: 100px;
    }
  }
  a{
    img{
      margin-left: 55px;
      @media only screen and (max-width: 429px){
        margin: 0;
      }
    }
  }
  h4{
    font-family:$main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.5px;
    color: #B2B2B2;
    margin-bottom: 21px;
  }
  p{
    font-family:$main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #B2B2B2;
    width: 210px;
    border-bottom: 1px solid #B2B2B2;
    margin-bottom: 40px;
  }
  h2{
    font-family:$main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    text-align: right;
    letter-spacing: 0.5px;
    color: #B2B2B2;
    margin-top: 40px;
    @media only screen and (max-width: 429px){
      margin-top: 20px;
      margin-right: 60px;
    }
  }
}
.third_page {
  background-color: #EBEBEB;
  a{
    img{
      @media only screen and (max-width: 429px){
        display: block;
        width: 100%;
      }
    }
  }
h3{
  position: relative;
  bottom: 85px;
  left: 40px;
  font-family: $main_font;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #262626;
  width: 170px;
  border-bottom: 1px solid #262626;
  @media only screen and (max-width: 429px){
    bottom: 45px;
    left: 25px;
  }

}
  .third_h3{
    width: 132px;
    @media only screen and (max-width: 429px){
      left: 220px;
      bottom: 72px;
    }
  }
}
.fourth_page {
  background-color: #EBEBEB;

  .col-xl-12 {
    margin-top: 116px;
    margin-bottom: 116px;
    @media only screen and (max-width: 429px){
      margin-top: 10px;
      margin-bottom: 20px;
    }
    a{
      img{
        @media only screen and (max-width: 429px){
          width: 500%;
          margin-left: 50px;

        }
      }
    }
  }

  .fourth_page_content {
    margin-top: 127px;
    margin-left: 30px;
    @media only screen and (max-width: 429px){
      margin-top: 220px;
    }
    h5 {
      font-family:$main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 19px;
      letter-spacing: 0.5px;
      color: #262626;
      width: 78px;
      margin-bottom: 11px;
    }

    h2 {
      width: 234px;
      font-family:$main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 32px;
      letter-spacing: 0.5px;
      color: #262626;
      margin-bottom: 39px;

    }

    p {
      width: 285px;
      font-family:$main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.5px;
      color: #262626;
      margin-bottom: 20px;

    }

    h4{
      width: 308px;
      font-family:$main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.5px;
      color: #262626;
      margin-bottom: 21px;

    }

    a {
      width: 79px;
      font-family:$main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 19px;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      color: #262626;
      border-bottom: 1px solid #262626;
      padding-bottom: 6px;
      text-decoration: none;
    }
  }
}
.fifth_page{
  background-color: #A26779;
  h3{
    font-family:$main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.5px;
    color: #B2B2B2;
    margin-top: 39px;
    margin-left: 40px;
  }
  a{
    img{
      margin-left: 55px;
      @media only screen and (max-width: 429px){
        margin: auto;
      }
    }
  }
  h4{
    font-family:$main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.5px;
    color: #B2B2B2;
    margin-bottom: 21px;
  }
  p{
    font-family:$main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #B2B2B2;
    width: 79px;
    border-bottom: 1px solid #B2B2B2;
    margin-bottom: 40px;
  }
  h2{
    font-family:$main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    text-align: right;
    letter-spacing: 0.5px;
    color: #B2B2B2;
    margin-top: 40px;
    @media only screen and (max-width: 429px){
      margin-right: 120px;
    }
  }
}
.page_six{
  background-image: url("../images/six_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  @media only screen and (max-width: 429px){
    background-size: contain;
    height: 30vh;
    margin-bottom: -43px;
  }
  .six_content{
    margin-top: 119px;
    margin-left: 40px;
    @media only screen and (max-width: 429px){
      margin: auto;
    }
    h4{
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 19px;
      letter-spacing: 0.5px;
      color: #262626;
      margin-bottom: 11px;
      @media only screen and (max-width: 429px){
        font-size: 12px;
      }
    }
    h2{
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 32px;
      letter-spacing: 0.5px;
      color: #262626;
      margin-bottom: 39px;
      @media only screen and (max-width: 429px){
        font-size: 16px;
        margin-bottom: 12px;
      }
    }
    p{
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.5px;
      color: #262626;
      width: 278px;
      margin-bottom: 2px;
      @media only screen and (max-width: 429px){
        font-size: 14px;
        margin-bottom: 35px;
      }
    }
    a{
      font-family:$main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 11px;
      line-height: 19px;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      color: #262626;
      width: 126px;
      border-bottom: 2px solid #262626;
      padding-bottom: 5px;

    }
  }
}
.page_7{
  background-color: #504B4D;

  h3{
    font-family:$main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.5px;
    color: #B2B2B2;
    margin-top: 39px;
    margin-left: 20px;
    @media only screen and (max-width: 429px){
      margin-left: 150px;
    }
  }
  a{
    img{
      margin-left: 55px;
      @media only screen and (max-width: 429px){
        margin: auto;
      }
    }
  }
  h4{
    font-family:$main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.5px;
    color: #B2B2B2;
    margin-bottom: 21px;
    @media only screen and (max-width: 429px){
      margin-top: 20px;
    }
  }
  p{
    font-family:$main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #B2B2B2;
    width: 128px;
    border-bottom: 1px solid #B2B2B2;
    margin-bottom: 40px;
  }
  h2{
    font-family:$main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    text-align: right;
    letter-spacing: 0.5px;
    color: #B2B2B2;
    margin-top: 40px;
    @media only screen and (max-width: 429px){
      margin: auto;
    }
  }
}
.page_8{
  background-color: #B04836;
  h4{
    font-family:$main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.5px;
    color: #B2B2B2;
    margin-top: 39px;
    margin-left: 20px;
    @media only screen and (max-width: 429px){
      margin-left: 150px;
    }
  }
  a{
    img{
      margin-left: 55px;
      @media only screen and (max-width: 429px){
        margin: auto;
      }
    }
  }
  h5{
    font-family:$main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.5px;
    color: #B2B2B2;
    margin-bottom: 21px;
    width: 272px;
    @media only screen and (max-width: 429px){
      margin-top: 20px;
    }
  }
  p{
    font-family:$main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #B2B2B2;
    width: 79px;
    border-bottom: 1px solid #B2B2B2;
    margin-bottom: 40px;
  }
  h2{
    font-family:$main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    text-align: right;
    letter-spacing: 0.5px;
    color: #B2B2B2;
    margin-top: 40px;
    @media only screen and (max-width: 429px){
      margin: auto;
    }
  }
}
footer{
  background-color:#262626;
  padding-top: 50px;
  form{
    h4{
      font-family:$main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.5px;
      color: #CCCCCC;
    }
    .col-auto{
      margin-top: 30px;
      margin-bottom: 50px;
      input{
        width: 280px;
        background-color: transparent;
        border: none;
        border-top: 1px solid #CCCCCC;;
        border-radius: 0;
        margin-right: 20px;
      &:focus{
        background-color: transparent;
        border: none;
        border-top: 1px solid #CCCCCC;
        border-radius: 0;
      }
        &::placeholder{
          font-family: $main_font;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
          letter-spacing: 0.5px;
          color: #CCCCCC;
        }
      }
    }
    button{
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 19px;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      color: #CCCCCC;
      border: none;
      background-color: transparent;
    }
  }
}